// GLOBAL MIXINS

=circle($rad, $shadCo, $grad1, $grad2)
  -webkit-border-radius: $rad
  -moz-border-radius: $rad
  border-radius: $rad

  -webkit-box-shadow: 0 5px 10px $shadCo
  -moz-box-shadow: 0 5px 10px $shadCo
  box-shadow: 0 5px 10px $shadCo

  background: $grad2
  background: -webkit-linear-gradient($grad1, $grad2)
  background: -o-linear-gradient($grad1, $grad2)
  background: -moz-linear-gradient($grad1, $grad2)
  background: linear-gradient($grad1, $grad2)
