// GLOBAL VARIABLES

// COLORS
$primary: #63bc46
$alt: #488933
$accent: #f26429
$black: #000
$dark: #343434
$mid: #777
$light: #f1f1f1
$white: #fff

// FONTS
$base-size: 16px

// LAYOUT
$artgut: 30px
