// BASE STYLES

body
  color: $dark
  font-family: $helvetica
  font-size: $base-size
  margin: 0

.brand
  +hide-text
  background:
    image: url(/assets/logos/affco-logo-white.png)
    size: cover
    repeat: no-repeat
  width: 152px
  height: 40px
  float: left
  margin-top: 5px
  opacity: 0.8
  transition: 500ms
  &:hover
    opacity: 1

h1
  margin: 0

a
  color: $primary
  &:hover
    color: $accent


// TEXT & BACKGROUND COLORS

.white
  background:
    color: $white

.primary
  background:
    color: $primary

.black
  background:
    color: $black

.alt
  background:
    color: $alt

.mid
  background:
    color: $mid

.light
  background:
    color: $light

.accent
  background:
    color: $accent

.dark
  background:
    color: $dark

.text-white
  color: $white

.text-primary
  color: $primary

.text-black
  color: $black

.text-alt
  color: $alt

.text-mid
  color: $mid

.test-light
  color: $light

.text-accent
  color: $accent
